In [32]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
%matplotlib inline

In [33]:
col_1 = [2,1,-7]
col_2 = [3,1,-8]
col_3 = [2,2,-10]
col_4 = [1,0,0]
col_5 = [0,1,0]
col_6 = [0,0,1],
col_7 = [1000, 800, 0]

In [34]:
TABLEAU = pd.DataFrame({
    'x1':col_1,
    'x2':col_2,
    'x3':col_3,
    's1':col_4,
    's2':col_5,
    'p':[0,0,1],
    'RHS': col_7,
})

In [35]:
TABLEAU

   x1  x2  x3  s1  s2  p   RHS
0   2   3   2   1   0  0  1000
1   1   1   2   0   1  0   800
2  -7  -8 -10   0   0  1     0

In [36]:
row_1 = list(TABLEAU.iloc[0])

In [37]:
row_2 = list(TABLEAU.iloc[1])

In [38]:
row_2

[1, 1, 2, 0, 1, 0, 800]

In [39]:
row_3 = list(TABLEAU.iloc[2])

In [40]:
list(TABLEAU['RHS'])

[1000, 800, 0]

In [41]:
row_3

[-7, -8, -10, 0, 0, 1, 0]

In [42]:
col1 = list(TABLEAU['x1'])

In [43]:
#column headers
list(TABLEAU)

['x1', 'x2', 'x3', 's1', 's2', 'p', 'RHS']

In [44]:
#DETERMINING THE PIVOT COLUMN AS AN INPUT TO THE BELOW FUNCTION:
#Smallest value in row_3
min(row_3)

-10

In [45]:
#determining to which column this value belongs so we can use it
#Iterates through the TABLEAU dataframe in order to find which column has a value in its 3rd entry equal to that of the 
#minimum value element of row_3;
def pivot_column_detector(TABLEAU):
    for i in range(len(list(TABLEAU))):
        col_title = list(TABLEAU)
        #len(TABLEAU) - 1 below in the square brackets
        #could be replaced with "2" because this corresponds to the third element in the column,
        #corresponding to the same element in row_3 we are trying to match it with.
        if list(TABLEAU[col_title[i]])[len(TABLEAU)-1] == min(row_3):
            #return(col_title[i]),and location of the pivot column
            return((list(TABLEAU[col_title[i]]),i))

In [46]:
pivot_column_detector(TABLEAU)
#col = list(TABLEAU[pivot_column_detector(TABLEAU)])
#list(TABLEAU[col_title[i]])

([2, 2, -10], 2)

In [47]:
def ratiotest(DATAFRAME):
    #col = list(TABLEAU[pivot_column_detector(TABLEAU)])
    col = pivot_column_detector(TABLEAU)[0]
    
    A = []
    RHS = list(DATAFRAME['RHS'])
    for i in range(len(col)-1):
            #dividing the RHS by POSITIVE pivot element
            if col[i]>=0:
                A.append(RHS[i]/col[i])
                #gives values of minimum ratio, and the pivot row location
    return(min(A),i)

In [48]:
ratiotest(TABLEAU)

(400.0, 1)

In [49]:
#NORMALIZES PIVOT ROW FOR FUTURE CALCULATIONS
def Pivot_Row_Normalizer(DATAFRAME):
    piv_col_no = pivot_column_detector(DATAFRAME)[1]
    piv_row_no = ratiotest(DATAFRAME)[1]  
    D = []

    pivot_row = list(DATAFRAME.iloc[piv_row_no])
    pivot_elmnt =  pivot_row[piv_col_no]
    
    for i in range(len(list(DATAFRAME))):
        normalized_pivot_row = pivot_row[i]/pivot_elmnt
        D.append(normalized_pivot_row)
    return(D)

In [50]:
#which is exactly what we wanted!!
Pivot_Row_Normalizer(TABLEAU)

[0.5, 0.5, 1.0, 0.0, 0.5, 0.0, 400.0]

# Row Operations
    Now that we have normalized the pivot row, we take the ratio between out pivot element and the elements of the other 
    rows in the same column, then perform the required row operations needed to make the pivot column correspond to a 
    Basic Variable. Then we print the newly minted dataframe and see if any negatives are left in the bottom row.

In [51]:
def Row_Ratio(DATAFRAME):   
    
    
        
    piv_col_no = pivot_column_detector(DATAFRAME)[1]
    piv_row_no = ratiotest(DATAFRAME)[1]  
    normalized_pivot_row = Pivot_Row_Normalizer(DATAFRAME)
    normalized_pivot_elmnt =  normalized_pivot_row[piv_col_no]
    

    #Determine the ratios needed between elements and the pivot element
    Q = []
    for i in range(len(DATAFRAME)):
        if i != piv_row_no:
            elmnt = list(DATAFRAME.iloc[i])[piv_col_no]
        
            Q.append(elmnt)
    return Q

In [52]:
#As Expected
Row_Ratio(TABLEAU)

[2, -10]

In [53]:
Pivot_Row_Normalizer(TABLEAU)

[0.5, 0.5, 1.0, 0.0, 0.5, 0.0, 400.0]

In [54]:
def Row_Operator(DATAFRAME):
    new_rows = []
    for i in range(len(list(DATAFRAME))):
    
        for j in range(len(DATAFRAME)-1):
            #Iterates through all rows except the pivot row
            if j != ratiotest(DATAFRAME)[1]:
                #ratio = np.array(Row_Ratio(DATAFRAME)[j])
                #takeaway = ratio*Pivot_Row_Normalizer(DATAFRAME)[i]
                #Multiply the elements of the new pivot row by the row ratios and subtract from each column:
                ratio = np.array(Row_Ratio(DATAFRAME)[j])
                result = np.array(list(TABLEAU.iloc[j])[i]) - np.array(Row_Ratio(TABLEAU)[j])*np.array(Pivot_Row_Normalizer(TABLEAU)[i])
            
                new_rows.append(result)
    return new_rows

In [55]:
def Row_Operator2(DATAFRAME):
    new_rows1 = []
    new_rows2 = []
    new_rows3 = []
    for i in range(len(list(DATAFRAME))):
    
        for j in range(len(DATAFRAME)-1):
            #Iterates through all rows except the pivot row
            if j != ratiotest(DATAFRAME)[1]:
                #ratio = np.array(Row_Ratio(DATAFRAME)[j])
                #takeaway = ratio*Pivot_Row_Normalizer(DATAFRAME)[i]
                #Multiply the elements of the new pivot row by the row ratios and subtract from each column:
                
                ratio = np.array(Row_Ratio(DATAFRAME)[0])
                result1 = np.array(list(TABLEAU.iloc[j])[i]) - np.array(Row_Ratio(TABLEAU)[0])*np.array(Pivot_Row_Normalizer(TABLEAU)[i])
                
            else:
                #ratio2 = np.array(Row_Ratio(DATAFRAME)[0])
                #result2 = np.array(list(TABLEAU.iloc[j+2])[i]) - np.array(Row_Ratio(TABLEAU)[1])*np.array(Pivot_Row_Normalizer(TABLEAU)[i])
                

                #ratio = np.array(Row_Ratio(DATAFRAME)[0])
                result2 = np.array(list(TABLEAU.iloc[j+1])[i]) - np.array(Row_Ratio(TABLEAU)[1])*np.array(Pivot_Row_Normalizer(TABLEAU)[i])
                
                
                
                new_rows1.append(result1)
                new_rows2.append(result2)
    return new_rows1 , new_rows2

In [112]:
#This is exactly what we want!!!!
Row_Operator2(TABLEAU)
#Row_Ratio(TABLEAU)
#ratiotest(TABLEAU)[1]

([1.0, 2.0, 0.0, 1.0, -1.0, 0.0, 200.0],
 [-2.0, -3.0, 0.0, 0.0, 5.0, 1.0, 4000.0])

In [200]:
Pivot_Row_Normalizer(TABLEAU)  
#F(TABLEAU)

[0.5, 0.5, 1.0, 0.0, 0.5, 0.0, 400.0]

In [199]:
T

NameError: name 'pivot_row' is not defined

In [196]:
data_1 = G(TABLEAU)
ARR = []

ARR.append(list(TABLEAU)[0])
ARR.append(data_1)
J = ARR[0],":",ARR[1]

ARR[0]

'x1'

In [142]:
a="123,asd,wer"
a.replace(",", "")

'123asdwer'

In [133]:
data_1

[-2.0, -3.0, 0.0, 0.0, 5.0, 1.0, 4000.0]

In [132]:
list(TABLEAU)[1]

'x2'

In [ ]:
t2.append(data_1)
t2 = t2.append(data_1, ignore_index=False)

In [130]:
t2 = t2.sort_index().reset_index(drop=True)
t2

/home/david/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:1494: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  return self._getitem_tuple(key)

        0     RHS    p   s1   s2   x1   x2    x3
0     NaN  1000.0  0.0  1.0  0.0  2.0  3.0   2.0
1    -2.0     NaN  NaN  NaN  NaN  NaN  NaN   NaN
2     NaN   800.0  0.0  0.0  1.0  1.0  1.0   2.0
3    -3.0     NaN  NaN  NaN  NaN  NaN  NaN   NaN
4     NaN     0.0  1.0  0.0  0.0 -7.0 -8.0 -10.0
5     0.0     NaN  NaN  NaN  NaN  NaN  NaN   NaN
6     0.0     NaN  NaN  NaN  NaN  NaN  NaN   NaN
7     5.0     NaN  NaN  NaN  NaN  NaN  NaN   NaN
8     1.0     NaN  NaN  NaN  NaN  NaN  NaN   NaN
9  4000.0     NaN  NaN  NaN  NaN  NaN  NaN   NaN
0    -2.0     NaN  NaN  NaN  NaN  NaN  NaN   NaN
1    -3.0     NaN  NaN  NaN  NaN  NaN  NaN   NaN
2     0.0     NaN  NaN  NaN  NaN  NaN  NaN   NaN
3     0.0     NaN  NaN  NaN  NaN  NaN  NaN   NaN
4     5.0     NaN  NaN  NaN  NaN  NaN  NaN   NaN
5     1.0     NaN  NaN  NaN  NaN  NaN  NaN   NaN
6  4000.0     NaN  NaN  NaN  NaN  NaN  NaN   NaN

In [98]:
def G(DATAFRAME):
     return(Row_Operator2(DATAFRAME)[1])
    
#F(TABLEAU)
a = []
for i in range(len(list(TABLEAU))):
    a.append(G(TABLEAU)[i])
print(a)

[-2.0, -3.0, 0.0, 0.0, 5.0, 1.0, 4000.0]

In [127]:
G(TABLEAU)

[-2.0, -3.0, 0.0, 0.0, 5.0, 1.0, 4000.0]